


<launch>
    <export>
        <nodelet plugin="${prefix}/nodelets.xml"/>
    </export>    

    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />

    <!--include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
        <arg name="pcap" value="/home/cyx/bagfiles/2014-11-Velodyne-VLP_10Hz-County Fair.pcap" />
    </include-->

    <!--include file="$(find point_cluster)/launch/points_cluster.launch" /-->

  

</launch>

